@page "/links"
@inject IJSRuntime Js;

<Animate></Animate>
<div class="-mt-[82px] flex-grow overflow-x-hidden lg:-mt-[106px]">



    <section class="bg-gradient-to-t from-white/[55%] to-transparent py-14 dark:bg-none lg:py-[10px] pt-[100px] lg:pt-[150px]">
        <div class="container">
            <div class="mx-auto max-w-[1028px] text-center rtl:rotate-y-180">

                <p class="mt-5rem mb-10 text-2xl font-bold">Majan Polyclinic</p>
                <a class="w-full mt-5 mb-1rem inline-block" target="_blank" href="https://majanpolyclinic.com">
                    <div class="text-center rounded-3xl border-2 border-white bg-white p-6 shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">

                        <div class="flex items-center text-center">
                            <img src="assets/images/majan.svg" alt="logo" class="h-10 lg:h-10 mr-1rem ml-1rem" />
                            <p class="inline-block font-extrabold text-black font-bold dark:text-white dark:group-hover:text-black">
                                Exploring Our Website
                            </p>
                        </div>

                    </div>
                </a>
                <a class="w-full mt-5 mb-1rem inline-block" target="_blank" href="https://instagram.com/majanpolyclinic.om">
                    <div class="text-center rounded-3xl border-2 border-white bg-white p-6 shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex items-center text-center">
                            <img src="assets/images/instagram-icon.svg" alt="logo" class="h-10 lg:h-10 mr-1rem ml-1rem" />
                            <p class="inline-block font-extrabold text-black font-bold dark:text-white dark:group-hover:text-black">
                                Follow Us on Instagram
                            </p>
                        </div>
                    </div>
                </a>

                <a class="w-full mt-5 mb-1rem inline-block" target="_blank" href="https://wa.me/message/5IRHEZO2HHRMN1">
                    <div class="text-center rounded-3xl border-2 border-white bg-white p-6 shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex items-center text-center">
                            <img src="assets/images/whatsapp-icon.svg" alt="logo" class="h-10 lg:h-10 mr-1rem ml-1rem" />
                            <p class="inline-block font-extrabold text-black font-bold dark:text-white dark:group-hover:text-black">
                                Consulting via Whatsapp
                            </p>
                        </div>
                    </div>
                </a>

                <a class="w-full mt-5 mb-1rem inline-block" target="_blank" href="https://maps.app.goo.gl/24DETNagNi3c3AfS8">
                    <div class="text-center rounded-3xl border-2 border-white bg-white p-6 shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:border-white/10 dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.04] dark:to-transparent dark:!shadow-none dark:hover:bg-secondary">
                        <div class="flex items-center text-center">
                            <img src="assets/images/map-icon.svg" alt="logo" class="h-10 lg:h-10 mr-1rem ml-1rem" />
                            <p class="inline-block font-extrabold text-black font-bold dark:text-white dark:group-hover:text-black">
                                Finding Majan on the Map
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</div>

@code {

}
